@model slnValorosoMartin.Models.Receta
@{
    ViewData["Title"] = "Delete";
}


    
    <h2>@Model.TituloReceta</h2>
    <p>Desea eliminar esta Receta?</p>

    @using (Html.BeginForm("Delete", "Receta", FormMethod.Post))
    {
        
        <input type="submit" action="Delete" />

        @Html.ActionLink("Volver", "Index", "Receta")

    }

